$white: #fff;
$black: #352e2e;
$orange: #cc6328;
$light-orange: #db8d4d;
$primary-orange: #cc6328;
$primary-brown: #1a110c;
$brown: #1a110c;
$brown-text: #5a3714;
$brown-bg: #2a1717;
$gray: #faf6f1;
$tan: #e5d0bb;
$tan-2: #bca887;
$secondary-brown: #1a110c;
$green: #203620;
$red: #911a1d;
$disabled: #AFAFAF;
$success: #40A040;

$primary: $primary-orange;
$secondary: $primary-brown;
$success: $success;
$danger: $red;
$light: $gray;
$dark: $black;