# system files and folders
node_modules/
.DS_STORE
*.log

# shopify files
shopify.dev.yml
shopify.live.yml
shopify/config/settings_data.json

# adjust if static assets in the assets directory should be tracked
# shopify/assets/bundle*
shopify/assets/