# system files and folders
node_modules/
.DS_STORE
*.log

# shopify files
shopify.dev.yml
shopify.live.yml
shopify/config/settings_data.json

# ignore all files inside shopify/assets/ except files with 'static' keyword in their filename
# on every webpack build all files are deleted except for 'static' files
shopify/assets/*
!shopify/assets/*static*