<div id="layout-collection">
  Collection
  {{ collection.id }} - {{ collection.handle }}
  <collection
    handle="{{ collection.handle }}"
    :products-data="{{ collection.products | json | json | escape }}"
  ></collection>
</div>