<div id="layout-collection">
  {% if collection.handle == 'best-sellers' %} {% assign products =
  collections['collection-page-best-sellers'].products %} {% else %} {% assign
  products = collection.products %} {% endif %}
  <collection
    handle="{{ collection.handle }}"
    :products-data="{{ products | json | json | escape }}"
  ></collection>
</div>
