<div id="layout-index">
  <index-hero></index-hero>
  <index-social-proof></index-social-proof>
  <index-bundle></index-bundle>
  <index-featured-products></index-featured-products>
  <index-sub-offer></index-sub-offer>
  <index-quiz></index-quiz>
  <index-reviews></index-reviews>
  <index-squatch-difference></index-squatch-difference>
</div>