<div id="layout-index">
  <index-hero></index-hero>
  <index-bundle></index-bundle>
  <index-featured-products></index-featured-products>
  <index-quiz></index-quiz>
  <index-reviews></index-reviews>
  <div style="display:none;">
    {{ content_for_index }}
  </div>
</div>