<div id="layout-page">
  <ingredient-glossary></ingredient-glossary>
</div>
<script type="application/json" glossary-data id="glossary-data">
  [
    {
      "ingredient": "COCOA BUTTER",
      "onLabel": "Theobroma Cacao",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Shave Bar"],
      "foundIn_handles": ["shave-bar"],
      "foundIn_tags": ["shave"],
      "function": "Base Cleanser + Skin Softener",
      "additionalBenefits": "Due to its high amount of fatty acids like stearic, oleic and lauric acids, cacao butter puts a barrier on the skin, locking in hydration."
    },
    {
      "ingredient": "COCONUT OIL",
      "onLabel": "Cocos Nucifera",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": "http://blog.drsquatch.com/benefits-of-coconut-oil-soap/",
      "foundIn_titles": [
        "Bar Soaps",
        "Hand Soap",
        "Conditioner",
        "Toothpaste",
        "Deodorants"
      ],
      "foundIn_handles": [
        "barsoaps",
        "liquidsoaps",
        "conditioner",
        "toothpaste",
        "deodorants"
      ],
      "foundIn_tags": [
        "bar-soap",
        "haircare",
        "liquid-soap",
        "toothpaste",
        "deodorant"
      ],
      "function": "Base Cleanser",
      "additionalBenefits": "The fatty acids in coconut oil make it extra soothing on the skin, scalp, or oral cavity. It is a natural detoxifier, pulling dirt and grime to the surface so that it can be easily washed away."
    },
    {
      "ingredient": "Arrowroot Powder",
      "onLabel": "Manihot Esculenta",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": null,
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "function": "Deodorizer",
      "additionalBenefits": "A plant derived ingredient used to absorb odor and sweat in our deodorant formula.",
      "foundIn_titles": ["Deodorants"],
      "foundIn_handles": ["deodorants"],
      "foundIn_tags": ["deodorant"]
    },
    {
      "ingredient": "GLYCERIN",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "pl1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": [
        "Bar Soaps",
        "Hand Soap",
        "Hair Care",
        "Toothpaste",
        "Hand Sanitizer"
      ],
      "foundIn_handles": [
        "barsoaps",
        "liquidsoaps",
        "haircare",
        "toothpaste",
        "natural-hand-sanitizer"
      ],
      "foundIn_tags": [
        "bar-soap",
        "liquid-soap",
        "sanitizer",
        "toothpaste",
        "haircare"
      ],
      "function": "Skin Softener + Flavor + Hair Conditioning Agent",
      "additionalBenefits": "This versatile ingredient acts as an amazing humectant, helping to hydrate the hair and skin by drawing in moisture from water in the air. Glycerin adds a sweet flavor and smoothness to our toothpaste’s structure and is also a byproduct of the soap making process."
    },
    {
      "ingredient": "LYE",
      "onLabel": "Sodium Hydroxide or Potassium Hydroxide",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/handmade_white.svg?v=1594323723",
      "ingredientSource": "Man Made",
      "icon1_text": "lm1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": "http://blog.drsquatch.com/the-truth-about-lye-a-short-history-of-soap/",
      "foundIn_titles": ["Bar Soaps", "Hand Soap", "Shave Bar"],
      "foundIn_handles": ["barsoaps", "liquidsoaps", "shave-bar"],
      "foundIn_tags": ["bar-soap", "liquid-soap", "shave"],
      "function": "Saponification",
      "additionalBenefits": "Lye is a critical ingredient in the soap-making process; It reacts with oils during the saponification process to create soap and glycerin, changing the liquid oils into a solid soap bar. We add extra oils to our product in a process called \"superfatting\"to make sure no lye remains in the final product of both our bar soap and Hand Soaps."
    },
    {
      "ingredient": "OLIVE OIL",
      "onLabel": "Olea Europaea or Sodium Olivate",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": "http://blog.drsquatch.com/olive-oil-a-miracle-in-skincare/",
      "foundIn_titles": ["Bar Soaps", "Hand Soap", "Shave Bar"],
      "foundIn_handles": ["barsoaps", "liquidsoaps", "shave-bar"],
      "foundIn_tags": ["bar-soap", "liquid-soap", "shave"],
      "function": "Base Cleanser + Skin Softener",
      "additionalBenefits": "Olive oil is high in antioxidants and polyphenols that fight oxidation; which produce free radicals and damage the cells, contributing to premature aging. It may restore smoothness by creating a protective skin barrier."
    },
    {
      "ingredient": "SHEA BUTTER",
      "onLabel": "Vitellaria Paradoxa",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": "http://blog.drsquatch.com/shea-butter-soap-benefits/",
      "foundIn_titles": ["Bar Soaps", "Hand Soap", "Shave Bar", "Conditioner"],
      "foundIn_handles": [
        "barsoaps",
        "liquidsoaps",
        "shave-bar",
        "conditioner"
      ],
      "foundIn_tags": ["bar-soap", "liquid-soap", "shave", "haircare"],
      "function": "Moisturizer + Hair Conditioning Agent",
      "additionalBenefits": "Abundant in vitamins and fatty acids like linoleic, oleic, stearic, and palmitic acids making it incredibly nourishing for the skin. It acts as a strong humectant, preserving moisture in the hair follicle."
    },
    {
      "ingredient": "SUSTAINABLE PALM OIL",
      "onLabel": "Elaeis Guineensis",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Bar Soaps", "Shave Bar"],
      "foundIn_handles": ["barsoaps", "shave-bar"],
      "foundIn_tags": ["bar-soap", "shave"],
      "function": "Base Cleanser",
      "additionalBenefits": "Palm oil is naturally high in vitamin E and K that have skin benefits shown to minimize the appearance of stretch marks, bruises, and other skin imperfections."
    },
    {
      "ingredient": "WATER",
      "onLabel": "Aqua",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/water_white.svg?v=1594323689",
      "ingredientSource": "Water",
      "icon1_text": "d1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": [
        "Bar Soaps",
        "Hair Care",
        "Toothpaste",
        "Hand Sanitizer"
      ],
      "foundIn_handles": [
        "barsoaps",
        "haircare",
        "toothpaste",
        "natural-hand-sanitizer"
      ],
      "foundIn_tags": ["bar-soap", "haircare", "toothpaste", "sanitizer"],
      "function": "Essence of Life",
      "additionalBenefits": "Ahhhh- water, the essence of life, and a key ingredient in many of our formulas for a wide range of reasons."
    },
    {
      "ingredient": "SUNFLOWER SEED OIL",
      "onLabel": "Helianthus Annuus",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Hand Soap", "Deodorant"],
      "foundIn_handles": ["liquidsoaps", "deodorants"],
      "foundIn_tags": ["liquid-soap", "deodorant"],
      "function": "Skin Softener",
      "additionalBenefits": "Sunflower seeds are abundant in essential fatty acids like linolenic, oleic and palmitic acid, known to help in the formation of collagen and elastin for firmer skin. It has natural calming properties that improve your skin’s hydration retention, leaving the skin soft and smooth."
    },
    {
      "ingredient": "AVOCADO OIL",
      "onLabel": "Persea Gratissma",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Conditioner"],
      "foundIn_handles": ["conditioner-1"],
      "foundIn_tags": ["haircare"],
      "function": "Hair Conditioning Agent",
      "additionalBenefits": "Avocados are rich in vitamin E, promoting a softer head of hair. Is a great humectant, helping to hydrate the scalp to keep the hair strong."
    },
    {
      "ingredient": "CAPRYLIC TRIGLYCERIDE",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Conditioner"],
      "foundIn_handles": ["conditioner"],
      "foundIn_tags": ["haircare"],
      "function": "Hair Conditioning Agent",
      "additionalBenefits": "This ingredient, usually sourced from glycerin or coconuts, is used as a stabilizer in our conditioner keeping the consistency thick and dispersing evenly. It works as a natural hair hydrator, locking moisture in for an extra smooth mane."
    },
    {
      "ingredient": "CAPRYLYL/CAPRYL GLUCOSIDE",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/vitaminsminerals_white.svg?v=1594323689",
      "ingredientSource": "Vitamins & Minerals",
      "icon1_text": "p1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Shampoo"],
      "foundIn_handles": ["shampoo-1"],
      "foundIn_tags": ["haircare"],
      "function": "Foaming Agent",
      "additionalBenefits": "This nature identical ingredient helps to solubilize our formula as well as assists in helping our shampoo lather and foam for a better shower experience."
    },
    {
      "ingredient": "COCO GLUCOSIDE",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Shampoo"],
      "foundIn_handles": ["shampoo-1"],
      "foundIn_tags": ["haircare"],
      "function": "Foaming Agent + Cleanser",
      "additionalBenefits": "Coco glucoside is a natural vegetable based surfactant, that works alongside decyl glucoside, for its mild cleansing capabilities. It helps to build the viscosity, or thickness, in our shampoo formula and is rated a 1 on the EWG skin deep toxicity guide."
    },
    {
      "ingredient": "DECYL GLUCOSIDE",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/vitaminsminerals_white.svg?v=1594323689",
      "ingredientSource": "Vitamins & Minerals",
      "icon1_text": "lm1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Shampoo"],
      "foundIn_handles": ["shampoo-1"],
      "foundIn_tags": ["haircare"],
      "function": "Foaming Agent + Cleanser",
      "additionalBenefits": "Is a natural vegetable based surfactant that works alongside coco glucoside, used for its mild cleansing capabilities in certain products for sensitive skin. This ingredient builds the viscosity, or thickness, in our shampoo formula and is rated a 1 on the EWG skin deep toxicity guide."
    },
    {
      "ingredient": "GLYCERYL CAPRYLATE",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Shampoo"],
      "foundIn_handles": ["shampoo-1"],
      "foundIn_tags": ["haircare"],
      "function": "Emulsifier + Hair Conditioning Agent",
      "additionalBenefits": "A combination of glycerin and caprylic acids, this ingredient is usually derived from vegetable oils that act as a co-emulsifier in our formula.  It works as a humidifier of the scalp, preserving hydration in the hair."
    },
    {
      "ingredient": "GLYCERYL STEARATE",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/vitaminsminerals_white.svg?v=1594323689",
      "ingredientSource": "Vitamins & Minerals",
      "icon1_text": "lm1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Conditioner"],
      "foundIn_handles": ["conditioner"],
      "foundIn_tags": ["haircare"],
      "function": "Emulsifier +  Hair Conditioning Agent",
      "additionalBenefits": "This ingredient is a naturally derived emulsifier in our formula. It helps to cleanse and soften the hair and scalp, along with being rated a 1 on the EWG skin deep toxicity guide."
    },
    {
      "ingredient": "HYDROGENATED VEGETABLE OIL",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Conditioner"],
      "foundIn_handles": ["conditioner"],
      "foundIn_tags": ["haircare"],
      "function": "Hair Conditioning Agent",
      "additionalBenefits": "This food-grade vegetable oil slows the loss of water by forming a barrier on the scalp's surface, enhancing the appearance and texture of the hair."
    },
    {
      "ingredient": "NETTLE LEAF EXTRACT",
      "onLabel": "Urtica Dioica",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Hair Care"],
      "foundIn_handles": ["haircare"],
      "foundIn_tags": ["haircare"],
      "function": "Hair Strengthener",
      "additionalBenefits": "Nettle leaves are rich in silica and sulphur, which help to make the hair shinier and stronger."
    },
    {
      "ingredient": "POLYGLYCERYL-6 OLEATE",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/vitaminsminerals_white.svg?v=1594323689",
      "ingredientSource": "Vitamins & Minerals",
      "icon1_text": "lm1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Shampoo"],
      "foundIn_handles": ["shampoo-1"],
      "foundIn_tags": ["haircare"],
      "function": "Emulsifier + Hair Conditioning Agent",
      "additionalBenefits": "A glycerin molecule, usually derived from plant matter,  acts as a hair softener to help prevent hair breakage.  It helps the oil and water components in our shampoo stabilize and emulsify together."
    },
    {
      "ingredient": "SODIUM STEAROYL LACTYLATE",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/vitaminsminerals_white.svg?v=1594323689",
      "ingredientSource": "Vitamins & Minerals",
      "icon1_text": "p1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Shampoo"],
      "foundIn_handles": ["shampoo-1"],
      "foundIn_tags": ["haircare"],
      "function": "Emulsifier",
      "additionalBenefits": "This ingredient is an effective, food-grade emulsifier and stabilizer in our shampoo's formula. It acts as a surfactant, cleansing the scalp and hair of excess oil buildup."
    },
    {
      "ingredient": "SODIUM STEAROYL GLUTAMATE",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/vitaminsminerals_white.svg?v=1594323689",
      "ingredientSource": "Vitamins & Minerals",
      "icon1_text": "lm1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Hair Care"],
      "foundIn_handles": ["hairecare"],
      "foundIn_tags": ["haircare"],
      "function": "Foaming Agent + Stabilizer",
      "additionalBenefits": "Derived from coconuts or fermented sugar; this gentle surfactant has excellent cleansing capabilities safe enough for sensitive scalp types. It helps to regulate the consistency and stabilize ingredients in our shampoo."
    },
    {
      "ingredient": "BEHENYL ALCOHOL",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "a1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Conditioner"],
      "foundIn_handles": ["conditioner"],
      "foundIn_tags": ["haircare"],
      "function": "Emulsifier",
      "additionalBenefits": "This alcohol is used as an additive for allowing our conditioner to be more easily spread throughout your hair, increasing the product’s ability to foam."
    },
    {
      "ingredient": "TREHALOSE",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "pl1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Hair Care"],
      "foundIn_handles": ["haircare"],
      "foundIn_tags": ["haircare"],
      "function": "Hair Conditioning Agent",
      "additionalBenefits": "Trehalose is a sugar synthesized from certain bacteria, fungi, or plant matter that has natural hydrating properties, helpful in protecting against dry, brittle hair."
    },
    {
      "ingredient": "XANTHAN GUM",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "b1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": "http://blog.drsquatch.com/chemicals-in-shampoo-to-avoid/",
      "foundIn_titles": ["Hair Care", "Toothpaste"],
      "foundIn_handles": ["haircare", "toothpaste"],
      "foundIn_tags": ["haircare", "toothpaste"],
      "function": "Thickener",
      "additionalBenefits": "Xanthan gum is derived from fermented sugar and used to increase the viscosity, or thickness, of our shampoo, conditioner, and toothpaste; providing a better structure to the formula."
    },
    {
      "ingredient": "Mannitol",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant Based",
      "icon1_text": null,
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "Read_more_link": null,
      "function": "Flavor",
      "additionalBenefits": "This food grade sugar alcohol is resistant to metabolism by oral bacteria which break down the sugars or starches that release acids in the process.  These acids can create cavities or the erosion of tooth enamel; mannitol is a way to add sweetness to our toothpaste without contributing to cavities!",
      "foundIn_titles": ["Morning Toothpaste"],
      "foundIn_handles": ["toothpaste"],
      "foundIn_tags": ["toothpaste"]
    },
    {
      "ingredient": "CASTOR OIL",
      "onLabel": "Ricinus communis",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "s1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Beard Oils", "Shave Bar"],
      "foundIn_handles": ["beardoils", "shave-bar"],
      "foundIn_tags": ["beard-oil", "shave"],
      "function": "Carrier Oil + Foaming Agent",
      "additionalBenefits": "Castor seeds are great skin hydrators along with their high fatty acid composition helping to give the skin a natural glow. Increases our shave bar's foaming capabilities for a nicer shaving experience."
    },
    {
      "ingredient": "ALMOND OIL",
      "onLabel": "Prunus Dulcis",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "s1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Beard Oils", "Colognes"],
      "foundIn_handles": ["beardoils", "colognes"],
      "foundIn_tags": ["beard-oil", "cologne"],
      "function": "Carrier Oil",
      "additionalBenefits": "Our cold pressed almond oil contains high levels of vitamin A, E and antioxidants that contribute to an improved complexion and overall tone of the skin."
    },
    {
      "ingredient": "ARGAN OIL",
      "onLabel": "Argania spinosa",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "s1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Beard Oils"],
      "foundIn_handles": ["beardoils"],
      "foundIn_tags": ["beard-oil", "cologne"],
      "function": "Carrier Oil",
      "additionalBenefits": "Argan seed oil mimics our skin's natural oils, making it an effective way to increase the skin's hydration without clogging the pores."
    },
    {
      "ingredient": "PARAFFIN WAX",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/vitaminsminerals_white.svg?v=1594323689",
      "ingredientSource": "Vitamins & Minerals",
      "icon1_text": "w1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Candles"],
      "foundIn_handles": ["bay-rum-candle"],
      "foundIn_tags": ["candle"],
      "function": "Base",
      "additionalBenefits": "This wax has the ability to carry a higher fragrance load, so we're able to pack a more intense, longer lasting fragrance in our candle. It is a soft, colorless solid usually derived from coal or shale oil."
    },
    {
      "ingredient": "SOY WAX",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "w1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Candles"],
      "foundIn_handles": ["bay-rum-candle"],
      "foundIn_tags": ["candle"],
      "function": "Base Wax",
      "additionalBenefits": "Made by the full hydrogenation of soybean oil, this wax is is a natural and renewable resource that burns without creating toxic soot that can be harmful when inhaled. It is typically softer than most other candle waxes made from 100% paraffin and has a lower melting temperature."
    },
    {
      "ingredient": "CEDARWOOD ESSENTIAL OIL",
      "onLabel": "Juniperus Virginiana",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "b1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": "http://blog.drsquatch.com/cedarwood-soap-use-everyday/",
      "foundIn_titles": [
        "Crushed Pine Cologne",
        "Crushed Pine Beard Oil",
        "Cedar Citrus Soap"
      ],
      "foundIn_handles": ["crushed-pine-1", "fresh-fir-1", "cedar-citrus"],
      "foundIn_tags": ["cologne", "beard-oil", "bar-soap"],
      "function": "Scent",
      "additionalBenefits": "Cedarwood promotes an even tone in problem areas of the skin when used topically. It contains vitamins C and E, which. both help to calm those problem skin areas."
    },
    {
      "ingredient": "CLARY SAGE ESSENTIAL OIL",
      "onLabel": "Salvia Sclarea",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": [
        "Alpine Sage Soap",
        "Crushed Pine Beard Oil",
        "Crushed Pine Cologne",
        "Alpine Sage Deodorant"
      ],
      "foundIn_handles": [
        "alpine-sage",
        "fresh-fir-1",
        "crushed-pine-1",
        "alpine-sage-deodorant"
      ],
      "foundIn_tags": ["bar-soap", "beard-oil", "cologne", "deodorant"],
      "function": "Scent",
      "additionalBenefits": "Linalyl acetateis is an ester in clary sage which reduces skin irritation and improves the overall health of your skin. It is known to stimulate the hair follicles to help achieve a healthy, full bodied head of hair."
    },
    {
      "ingredient": "COFFEE",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": "http://blog.drsquatch.com/surprising-uses-of-coffee-benefits-of-coffee-on-skin-coffee-soap/",
      "foundIn_titles": ["Cold Brew Cleanse Soap"],
      "foundIn_handles": ["cold-brew-cleanse"],
      "foundIn_tags": ["bar-soap"],
      "function": "Scent",
      "additionalBenefits": "Caffeine in coffee may reduce the appearance of skin imperfections by brightening the overall skin tone."
    },
    {
      "ingredient": "BREWER'S YEAST",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Wood Barrel Bourbon Soap"],
      "foundIn_handles": ["wood-barrel-bourbon"],
      "foundIn_tags": ["bar-soap"],
      "function": "Skin Softener",
      "additionalBenefits": "Rich in B vitamins like a Riboflavin, Niacin, Folic Acid are known to act as skin soothers when used topically."
    },
    {
      "ingredient": "JIMMY RED CORNMEAL",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Wood Barrel Bourbon Soap"],
      "foundIn_handles": ["wood-barrel-bourbon"],
      "foundIn_tags": ["bar-soap"],
      "function": "Exfoliant",
      "additionalBenefits": "Jimmy red cornmeal makes an invigorating exfoliant as it removes dirt from the pores, eliminates dead skin cells, and leaves your skin smooth without over drying."
    },
    {
      "ingredient": "CYPRESS ESSENTIAL OIL",
      "onLabel": "Cupressus Sempervirens",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": [
        "Alpine Sage Soap",
        "Shampoo",
        "Alpine Sage Deodorant"
      ],
      "foundIn_handles": ["alpine-sage", "shampoo-1", "alpine-sage-deodorant"],
      "foundIn_tags": ["bar-soap", "haircare", "deodorant"],
      "function": "Scent",
      "additionalBenefits": "Cypress may assist with issues associated to excess oils in the hair follicle, resulting in a greasy head of hair."
    },
    {
      "ingredient": "EUCALYPTUS ESSENTIAL OIL",
      "onLabel": "Eucalyptus Globulus",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": "http://blog.drsquatch.com/benefits-of-eucalyptus-oil-soap/",
      "foundIn_titles": [
        "Eucalyptus Greek Yogurt Soap",
        "Mountain Mint Hand Soap",
        "Shave Bar"
      ],
      "foundIn_handles": [
        "eucalyptus-greek-yogurt",
        "mountain-mint-liquid-soap",
        "shave-bar"
      ],
      "foundIn_tags": ["bar-soap", "liquid-soap", "shave"],
      "function": "Scent",
      "additionalBenefits": "When used in aromatherapy, its natural aromatic compounds are known to promote nasal clarity."
    },
    {
      "ingredient": "Alaskan Glacier Mineral Clay",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/vitaminsminerals_white.svg?v=1594323689",
      "ingredientSource": "Vitamins & Minerals",
      "icon1_text": null,
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "function": "Cleanser + Skin Softener",
      "additionalBenefits": "Alaskan glacier mineral clay is one of the purest ways to absorb dirt, remove toxins, and excess oils produced by the sebaceous glands, leaving behind smoother skin.",
      "foundIn_titles": ["Fresh Falls Bar Soap"],
      "foundIn_handles": ["barsoaps"],
      "foundIn_tags": ["bar-soap"]
    },
    {
      "ingredient": "Lichen Moss",
      "onLabel": "Sticta Canariensis",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": null,
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "function": "Skin Softener",
      "additionalBenefits": "Acts as a skin soothing agent, adding a silky texture to our soap.",
      "foundIn_titles": ["Fresh Falls Bar Soap"],
      "foundIn_handles": ["barsoaps"],
      "foundIn_tags": ["bar-soap"]
    },
    {
      "ingredient": "Eucalyptus",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant Based",
      "icon1_text": null,
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "function": "Breath Freshener",
      "additionalBenefits": "When eucalyptus is inhaled, its natural aromatic compounds are known to promote nasal clarity.  It also gives a cooling sensation to the mouth when brushing your teeth.",
      "foundIn_titles": ["Conditioner", "Night Toothpaste"],
      "foundIn_handles": ["conditioner", "toothpaste"],
      "foundIn_tags": ["haircare", "toothpaste"]
    },
    {
      "ingredient": "FRAGRANCE",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/handmade_white.svg?v=1594323723",
      "ingredientSource": "Man Made",
      "icon1_text": "f1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": [
        "Bay Rum Soap",
        "Gold Moss Soap",
        "Grapefruit IPA Soap",
        "Cool Fresh Aloe Soap",
        "Pine Tar Soap",
        "Deep Sea Goat's Milk Soap",
        "Cold Brew Cleanse Soap",
        "Fresh Falls Soap",
        "Wood Barrel Bourbon",
        "Fresh Falls Deodorant",
        "Bay Rum Deodorant",
        "Candles"
      ],
      "foundIn_handles": [
        "bay-rum",
        "gold-moss",
        "grapefruit-ipa",
        "cool-fresh-aloe",
        "pine-tar",
        "deep-sea-goats-milk",
        "cold-brew-cleanse",
        "404",
        "wood-barrel-bourbon",
        "fresh-falls-deodorant",
        "bay-rum-deodorant",
        "bay-rum-candle"
      ],
      "foundIn_tags": ["bar-soap", "candle"],
      "function": "Scent",
      "additionalBenefits": "Our high performance scents are complex and aromatic fusions derived exclusively from sources like essential oils, distillates, terpenes, absolutes, or other chemical compounds isolated to give Dr. Squatch the uique blends you know and love."
    },
    {
      "ingredient": "HOLY BASIL ESSENTIAL OIL",
      "onLabel": "Ocimum basilicum or Tulsi",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": [
        "Spearmint Basil Soap",
        "Night Toothpaste",
        "Sandalwood Bourbon Beard Oil",
        "Sandalwood Bourbon Cologne"
      ],
      "foundIn_handles": [
        "spearmint-basil",
        "toothpaste",
        "lakeside-bourbon",
        "beechwood-bourbon"
      ],
      "foundIn_tags": ["beard-oil", "bar-soap", "toothpaste", "cologne"],
      "function": "Scent + Oral Health",
      "additionalBenefits": "Holy basil is rich in antioxidants that have capabilities to combat oxidative stress which may lead to premature aging of the skin. It is also a great herb for overall oral wellness."
    },
    {
      "ingredient": "Hydroxyapatite",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant Based",
      "icon1_text": null,
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": "http://blog.drsquatch.com/why-use-natural-toothpaste/",
      "function": "Teeth Whitener",
      "additionalBenefits": "This mineral is the main component of bone and tooth enamel.  It may have capabilities for strengthening teeth, whitening, and adding a glossier appearance to your smile.",
      "foundIn_titles": ["Toothpaste"],
      "foundIn_handles": ["toothpaste"],
      "foundIn_tags": ["toothpaste"]
    },
    {
      "ingredient": "Green Illite Clay",
      "onLabel": "Illite",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/vitaminsminerals_white.svg?v=1594323689",
      "ingredientSource": "Vitamins & Minerals",
      "icon1_text": null,
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "function": "Teeth Whitener + Colorant",
      "additionalBenefits": "This mineral is the main component of bone and tooth enamel.  It may have capabilities for strengthening teeth, whitening, and adding a glossier appearance to your smile; along with adding a mint green color to our Night Toothpaste.",
      "foundIn_titles": ["Toothpaste"],
      "foundIn_handles": ["toothpaste"],
      "foundIn_tags": ["toothpaste"]
    },
    {
      "ingredient": "HOPS EXTRACT POWDER",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Grapefruit IPA Soap"],
      "foundIn_handles": ["grapefruit-ipa"],
      "foundIn_tags": ["bar-soap"],
      "function": "Scent",
      "additionalBenefits": "Hops are the dried flowering part of the plant, topically used for its calming effects."
    },
    {
      "ingredient": "LAVENDER ESSENTIAL OIL",
      "onLabel": "Lavandula Angustifo",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Alpine Sage Soap", "Alpine Sage Deodorant"],
      "foundIn_handles": ["alpine-sage", "alpine-sage-deodorant"],
      "foundIn_tags": ["bar-soap", "deodorant"],
      "function": "Scent",
      "additionalBenefits": "Lavender has the ability to sooth and calm either by applying topically or through inhalation."
    },
    {
      "ingredient": "ORANGE ESSENTIAL OIL",
      "onLabel": "Citrus Sinensis",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": [
        "Cedar Citrus Soap",
        "Pine Tar Soap",
        "Crushed Pine Cologne",
        "Crushed Pine Beard Oil",
        "Crisp Citrus Hand Soap"
      ],
      "foundIn_handles": [
        "cedar-citrus",
        "pine-tar",
        "crushed-pine-1",
        "fresh-fir-1",
        "crisp-citrus-liquid-soap"
      ],
      "foundIn_tags": ["bar-soap", "cologne", "beard-oil", "liquid-soap"],
      "function": "Scent",
      "additionalBenefits": "When used in aromatherapy, inhalation of this essential oil may help to activate a feeling of alertness."
    },
    {
      "ingredient": "PEPPERMINT ESSENTIAL OIL",
      "onLabel": "Pogostemon Cablin",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": [
        "Hand Soap",
        "Eucalyptus Greek Yogurt Soap",
        "Toothpaste",
        "Conditioner",
        "Mountain Mint Hand Sanitizer",
        "Shave Bar"
      ],
      "foundIn_handles": [
        "liquidsoaps",
        "eucualyptus-greek-yogurt",
        "toothpaste",
        "conditioner",
        "natural-hand-sanitizer",
        "shave-bar"
      ],
      "foundIn_tags": [
        "bar-soap",
        "liquid-soap",
        "toothpaste",
        "haircare",
        "shave"
      ],
      "function": "Scent",
      "additionalBenefits": "Peppermint contains aromatic compounds that help to cool the skin and scalp. Inhalation of this essential oil is known to promote an elevated mood and nasal clarity."
    },
    {
      "ingredient": "Pine Tar Soap",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "b1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": "http://blog.drsquatch.com/pine-tar-soap-benefits/",
      "foundIn_titles": ["Pine Tar Soap"],
      "foundIn_handles": ["pine-tar"],
      "foundIn_tags": ["bar-soap"],
      "function": "Scent",
      "additionalBenefits": "Pine tar is produced by high temperature carbonization of pine wood that results in a resin that adds a blackish - grey color component to our bars. It has properties that help to detox the skin similarly to activated charcoal by pulling toxins to the skin’s surface."
    },
    {
      "ingredient": "ALOE LEAF EXTRACT",
      "onLabel": "Aloe Barbadensis",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Hand Soap", "Conditioner"],
      "foundIn_handles": ["liquidsoaps", "conditioner-1"],
      "foundIn_tags": ["haircare", "liquid-soap"],
      "function": "Hair Conditioning Agent + Skin Softener",
      "additionalBenefits": "The fatty acids found in aloe have soothing properties that can help calm irritated skin. Aloe's hydrating properties make it a great conditioning agent that leaving hair feeling soft and smooth."
    },
    {
      "ingredient": "TEA TREE ESSENTIAL OIL",
      "onLabel": "Melaleuca Alternifolia",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": "http://blog.drsquatch.com/chemicals-in-shampoo-to-avoid/",
      "foundIn_titles": [
        "Shampoo",
        "Crisp Citrus Hand Soap",
        "Morning Toothpaste"
      ],
      "foundIn_handles": [
        "shampoo-1",
        "crisp-citrus-liquid-soap",
        "toothpaste"
      ],
      "foundIn_tags": ["haircare", "liquid-soap", "toothpaste"],
      "function": "Scent",
      "additionalBenefits": "Tea tree is known to help prevent the buildup of chemicals and dead cells ultimately leading to an itchy skin and scalp.  In oral care tea tree helps provide an optimal environment in the mouth."
    },
    {
      "ingredient": "BERGAMOT ESSENTIAL OIL",
      "onLabel": "Aurantium Bergamia",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": [
        "Sandalwood Bourbon Beard Oil",
        "Sandalwood Bourbon Cologne",
        "Shampoo"
      ],
      "foundIn_handles": ["lakeside-bourbon", "beechwood-bourbon", "shampoo-1"],
      "foundIn_tags": ["beard-oil", "cologne", "haircare"],
      "function": "Scent",
      "additionalBenefits": "Bergamot, when applied topically, has capabilities to sooth the skin and scalp. When used in aromatherapy, this essential oil is known to have calming properties."
    },
    {
      "ingredient": "CALENDULA FLOWER EXTRACT",
      "onLabel": "Calendula Officinalis",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Hair Care"],
      "foundIn_handles": ["haircare"],
      "foundIn_tags": ["haircare"],
      "function": "Hair Conditioning Agent",
      "additionalBenefits": "Calendula oil is often used to hydrate a dry scalp, and improve its overall hair condition. The presence of falconoids, a plant-based antioxidant, helps to protect the integrity of the hair."
    },
    {
      "ingredient": "COMFREY LEAF EXTRACT",
      "onLabel": "Symphytum Officinale",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Hair Care"],
      "foundIn_handles": ["haircare"],
      "foundIn_tags": ["haircare"],
      "function": "Hair Conditioning Agent",
      "additionalBenefits": "The gamma linoleic acid, and omega-6 fatty acid help to maintain a healthy head of hair. It prevents dryness due to the presence of allantoin, softening the hair strands."
    },
    {
      "ingredient": "JOJOBA SEED OIL",
      "onLabel": "Simmondsia Chinensis",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "s1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": "http://blog.drsquatch.com/jojoba-the-golden-oil/",
      "foundIn_titles": ["Beard Oils", "Colognes", "Hair Care", "Deodorants"],
      "foundIn_handles": ["beardoils", "colognes", "haircare", "deodorants"],
      "foundIn_tags": ["beard-oil", "cologne", "haircare", "deodorant"],
      "function": "Carrier Oil + Hair Conditioning Agent",
      "additionalBenefits": "Jojoba oil is an emollient ingredient that seals your skin and hair with a protective barrier to keep it from losing moisture. It contains vitamin E that work with your hair as an antioxidant; decreasing the amount of oxidative stress and free radicals that cause the hair follicles to break down."
    },
    {
      "ingredient": "Cellulose Gum",
      "onLabel": "Carboxymethyl Cellulose",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant Based",
      "icon1_text": null,
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "function": "Thickener",
      "additionalBenefits": "It is derived from the cell walls of plants and used as a thickening agent in a variety of food and topical products.",
      "foundIn_titles": ["Toothpaste"],
      "foundIn_handles": ["toothpaste"],
      "foundIn_tags": ["toothpaste"]
    },
    {
      "ingredient": "MENTHOL",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Conditioner", "Morning Toothpaste"],
      "foundIn_handles": ["conditioner", "toothpaste"],
      "foundIn_tags": ["haircare", "toothpaste"],
      "function": "Cooling + Breath Freshener",
      "additionalBenefits": "Menthol is derived from various mint oils and utilized for its cooling effect on the scalp and mouth. It also gives off a pleasant scent and flavor profile."
    },
    {
      "ingredient": "NEEM KERNEL ESSENTIAL OIL",
      "onLabel": "Azadirachta Indica",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Conditioner"],
      "foundIn_handles": ["conditioner"],
      "foundIn_tags": ["haircare"],
      "function": "Hair Conditioning Agent",
      "additionalBenefits": "Neem oil contains a compound that helps to soothe a troubled scalp. It soothes dryness and helps to keep hair strands healthy, further reducing breakage."
    },
    {
      "ingredient": "PATCHOULI ESSENTIAL OIL",
      "onLabel": "Pogostemon Cablin",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": null,
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "function": "Scent",
      "additionalBenefits": "In aromatherapy it is often inhaled to encourage relaxation. Patchouli may help to soothe the skin on the scalp for a healthy head of hair. It gives a pleasant scent to our products.",
      "foundIn_titles": [
        "Conditioner",
        "Crushed Pine Cologne",
        "Crushed Pine Beard Oil",
        "Alpine Sage Deodorant"
      ],
      "foundIn_handles": [
        "conditioner",
        "crushed-pine-1",
        "fresh-fir-1",
        "alpine-sage-deodorant"
      ],
      "foundIn_tags": [
        "haircare",
        "bar-soap",
        "cologne",
        "beard-oil",
        "deodorant"
      ]
    },
    {
      "ingredient": "SWEET ORANGE PEEL ESSENTIAL OIL",
      "onLabel": "Citrus Sinensis",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Conditioner"],
      "foundIn_handles": ["conditioner"],
      "foundIn_tags": ["haircare"],
      "function": "Scent",
      "additionalBenefits": "Orange peel essential oil has soothing effects on the hair, leaving it soft and smooth. Inhalation of this essential oil in aromatherapy is known to activate a feeling of alertness."
    },
    {
      "ingredient": "TANGERINE PEEL ESSENTIAL OIL",
      "onLabel": "Citrus Nobilis",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Shampoo", "Crisp Citrus Hand Soap"],
      "foundIn_handles": ["shampoo-1", "crisp-citrus-liquid-soap"],
      "foundIn_tags": ["haircare", "liquid-soap"],
      "function": "Hair Conditioning Agent + Scent",
      "additionalBenefits": "Tangerine's high bioflavonoid content has powerful antioxidants shown to help lessen hair breakage. It acts as a humectant, assisting in the preservation of hair hydration and may help to soothe an irritated or itchy scalp."
    },
    {
      "ingredient": "LEMON PEEL OIL",
      "onLabel": "Citrus Limon",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": [
        "Crisp Citrus Hand Soap",
        "Morning Toothpaste",
        "Crisp Citrus Hand Sanitizer"
      ],
      "foundIn_handles": [
        "crisp-citrus-liquid-soap",
        "toothpaste",
        "natural-hand-sanitizer"
      ],
      "foundIn_tags": ["liquid-soap", "toothpaste", "natural-hand-sanitizer"],
      "function": "Scent + Flavor",
      "additionalBenefits": "Inhaling the aroma of lemon essential oil is known to improve mood and promote relaxation. This adds a pleasant citrus note to our Morning Toothpaste."
    },
    {
      "ingredient": "AUSTRALIAN SANDALWOOD ESSENTIAL OIL",
      "onLabel": "Santalum album",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "b1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": [
        "Sandalwood Bourbon Beard Oil",
        "Sandalwood Bourbon Cologne"
      ],
      "foundIn_handles": ["lakeside-bourbon", "beechwood-bourbon"],
      "foundIn_tags": ["beard-oil", "cologne"],
      "function": "Scent",
      "additionalBenefits": "Sandalwood contains high levels of antioxidants and soothing properties that contribute to anti-aging effects on the skin."
    },
    {
      "ingredient": "CORIANDER ESSENTIAL OIL",
      "onLabel": "Coriandrum sativum",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "s1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Sandalwood Bourbon Beard Oil"],
      "foundIn_handles": ["lakeside-bourbon"],
      "foundIn_tags": ["beard-oil"],
      "function": "Scent",
      "additionalBenefits": "Coriander seeds are rich in vitamin C, folate, and antioxidants that have the ability to fight against oxidative stress; giving the skin and hair a healthy glow."
    },
    {
      "ingredient": "FIR NEEDLE ESSENTIAL OIL",
      "onLabel": "Abies Alba",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Crushed Pine Cologne", "Crushed Pine Beard Oil"],
      "foundIn_handles": ["crushed-pine-1", "fresh-fir-1"],
      "foundIn_tags": ["cologne", "beard-oil"],
      "function": "Scent",
      "additionalBenefits": "It has been used in aromatherapy to relieve tension, encouraging relaxation. Compounds in fir needle are known to help combat body odor when applied topically."
    },
    {
      "ingredient": "FRANKINCENSE",
      "onLabel": "Boswellia sacra",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "b1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": [
        "Sandalwood Bourbon Beard Oil",
        "Sandalwood Bourbon Cologne"
      ],
      "foundIn_handles": ["lakeside-bourbon", "beechwood-bourbon"],
      "foundIn_tags": ["beard-oil", "cologne"],
      "function": "Scent",
      "additionalBenefits": "Terpenes and boswellic acids in frankincense have properties that can help to nourish the skin and improve the overall tone and elasticity."
    },
    {
      "ingredient": "GRAPEFRUIT ESSENTIAL OIL",
      "onLabel": "Citrus Paradisi",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": [
        "Sandalwood Bourbon Beard Oil",
        "Sandalwood Bourbon Cologne"
      ],
      "foundIn_handles": ["lakeside-bourbon", "beechwood-bourbon"],
      "foundIn_tags": ["beard-oil", "cologne"],
      "function": "Scent",
      "additionalBenefits": "Limonene, a natural compound in grapefruit essential oil, is known to promote focus and have a calming effect when inhaled."
    },
    {
      "ingredient": "MYRRH",
      "onLabel": "Commiphora myrrh",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": [
        "Sandalwood Bourbon Beard Oil",
        "Sandalwood Bourbon Cologne"
      ],
      "foundIn_handles": ["lakeside-bourbon", "beechwood-bourbon"],
      "foundIn_tags": ["beard-oil", "cologne"],
      "function": "Scent",
      "additionalBenefits": "Myrrh has properties which help to smooth the appearance of a rough, uneven skin tone."
    },
    {
      "ingredient": "SPRUCE ESSENTIAL OIL",
      "onLabel": "Picea",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Crushed Pine Cologne", "Crushed Pine Beard Oil"],
      "foundIn_handles": ["crushed-pine-1", "fresh-fir-1"],
      "foundIn_tags": ["cologne", "beard-oil"],
      "function": "Scent",
      "additionalBenefits": "Spruce is high in alpha-pinene and bornyl acetate, which have soothing properties to help calm the skin when used topically."
    },
    {
      "ingredient": "VETIVER",
      "onLabel": "Chrysopogon Zizanioides",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": [
        "Sandalwood Bourbon Beard Oil",
        "Sandalwood Bourbon Cologne"
      ],
      "foundIn_handles": ["lakeside-bourbon", "beechwood-bourbon"],
      "foundIn_tags": ["beard-oil", "cologne"],
      "function": "Scent",
      "additionalBenefits": "Used in aromatherapy, vetiver's complex woodsy aroma has soothing properties known to boost energy and focus. Compounds in this essential oil can help to tighten and protect skin against the effects of environmental stressors."
    },
    {
      "ingredient": "BENTONITE CLAY",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/vitaminsminerals_white.svg?v=1594323689",
      "ingredientSource": "Vitamins & Minerals",
      "icon1_text": "r1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Shave Bar"],
      "foundIn_handles": ["shave-bar"],
      "foundIn_tags": ["shave"],
      "function": "Skin Softener + Detoxifier",
      "additionalBenefits": "Bentonite clay helps to pull dirt and grime from the skin, making it a great wat to detox the skin. It can help to prevent irritation from shaving leaving skin soft and smooth."
    },
    {
      "ingredient": "ROSEMARY ESSENTIAL OIL",
      "onLabel": "Rosmarinus officinalis",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Cedar Citrus Soap", "Hand Soap", "Conditioner"],
      "foundIn_handles": ["cedar-citrus", "liquidsoaps", "conditioner"],
      "foundIn_tags": ["bar-soap", "liquid-soap", "haircare"],
      "function": "Scent + Antioxidant",
      "additionalBenefits": "In aromatherapy rosemary is known to promote alertness and focus. It acts as a strong antioxidant that can help combat free radicals that lead to premature aging."
    },
    {
      "ingredient": "SPEARMINT ESSENTIAL OIL",
      "onLabel": "Mentha Spicata",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": [
        "Hand Soap",
        "Spearmint Basil Soap",
        "Night Toothpaste"
      ],
      "foundIn_handles": ["liquidsoaps", "spearmint-basil", "toothpaste"],
      "foundIn_tags": ["bar-soap", "liquid-soap", "toothpaste"],
      "function": "Flavor + Scent",
      "additionalBenefits": "Spearmint contains a large number of antioxidant compounds, including rosmarinic acid, flavones and limonene that may help to fight the free radicals which lead to premature aging.  It also adds a cooling, minty flavor to our Night Toothpaste."
    },
    {
      "ingredient": "Stevia Leaf Extract",
      "onLabel": "Stevia Rebaudiana",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant Based",
      "icon1_text": null,
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "Read_more_link": null,
      "function": "Flavor",
      "additionalBenefits": "Contributes to the sweet flavor to our toothpastes",
      "foundIn_titles": ["Toothpaste"],
      "foundIn_handles": ["toothpaste"],
      "foundIn_tags": ["toothpaste"]
    },
    {
      "ingredient": "Wintergreen Extract",
      "onLabel": "Gaultheria Procumbens",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant Based",
      "icon1_text": null,
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "Read_more_link": null,
      "function": "Flavor",
      "additionalBenefits": "May help to open the nasal passages so that you can breathe more deeply. Adds a pleasant minty aroma and flavor to the teeth brushing experience",
      "foundIn_titles": ["Night Toothpaste"],
      "foundIn_handles": ["toothpaste"],
      "foundIn_tags": ["toothpaste"]
    },
    {
      "ingredient": "Xylitol",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant Based",
      "icon1_text": null,
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "Read_more_link": null,
      "function": "Flavor + Oral Wellness",
      "additionalBenefits": "This food grade sugar alcohol is usually derived from birch or corn and used as a low glycemic sweetener, meaning it won’t spike your blood sugars.  It is also known for its positive benefits to the teeth and overall oral health.",
      "foundIn_titles": ["Toothpaste"],
      "foundIn_handles": ["toothpaste"],
      "foundIn_tags": ["toothpaste"]
    },
    {
      "ingredient": "Chamomile",
      "onLabel": "Matricaria chamomilla",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant Based",
      "icon1_text": null,
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "Read_more_link": null,
      "function": "Wellness",
      "additionalBenefits": "Chamomile contains apigenin, an antioxidant that binds to certain receptors in your brain that may promote calmness.",
      "foundIn_titles": ["Night Toothpaste"],
      "foundIn_handles": ["toothpaste"],
      "foundIn_tags": ["toothpaste"]
    },
    {
      "ingredient": "Ginseng",
      "onLabel": "Panax Ginseng",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant Based",
      "icon1_text": null,
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "Read_more_link": null,
      "function": "Wellness",
      "additionalBenefits": "Ginseng is a root that has been used for generations to support healthy male organs.",
      "foundIn_titles": ["Morning Toothpaste"],
      "foundIn_handles": ["toothpaste"],
      "foundIn_tags": ["toothpaste"]
    },
    {
      "ingredient": "Saw Palmetto",
      "onLabel": "Serenoa Repens",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant Based",
      "icon1_text": null,
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "Read_more_link": null,
      "function": "Wellness",
      "additionalBenefits": "This herb has been used for millennia to help balance and improve the organ health in men",
      "foundIn_titles": ["Night Toothpaste"],
      "foundIn_handles": ["toothpaste"],
      "foundIn_tags": ["toothpaste"]
    },
    {
      "ingredient": "Valerian",
      "onLabel": "Valeriana Officinalis",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant Based",
      "icon1_text": null,
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "Read_more_link": null,
      "function": "Wellness",
      "additionalBenefits": "Valerian root contains a number of compounds including GABA, a neurotransmitter that sends chemical messages through the brain and nervous system, that may promote calming and relaxation.",
      "foundIn_titles": ["Night Toothpaste"],
      "foundIn_handles": ["toothpaste"],
      "foundIn_tags": ["toothpaste"]
    },
    {
      "ingredient": "Vitamin B12",
      "onLabel": "Cyanocobalamin",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/handmade_white.svg?v=1594323723",
      "ingredientSource": "Man Made",
      "icon1_text": null,
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "Read_more_link": null,
      "function": "Wellness",
      "additionalBenefits": "This vitamin plays a vital role in synthesizing and metabolizing serotonin, a chemical responsible for regulating mood and energy production.",
      "foundIn_titles": ["Morning Toothpaste"],
      "foundIn_handles": ["toothpaste"],
      "foundIn_tags": ["toothpaste"]
    },
    {
      "ingredient": "Vitamin E",
      "onLabel": "Cyanocobalamin",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/handmade_white.svg?v=1594323723",
      "ingredientSource": "Man Made",
      "icon1_text": null,
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "Read_more_link": null,
      "function": "Wellness",
      "additionalBenefits": "This vitamin's antioxidant properties may help reduce the amount of oxidative stress and free radicals that cause the hair follicles to break down.  It has also been used to soothe gum irritation from brushing too hard.",
      "foundIn_titles": ["Night Toothpaste"],
      "foundIn_handles": ["toothpaste"],
      "foundIn_tags": ["toothpaste"]
    },
    {
      "ingredient": "Calcium Carbonate",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/vitaminsminerals_white.svg?v=1594323689",
      "ingredientSource": "Vitamins & Minerals",
      "icon1_text": null,
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "function": "Abrasive",
      "additionalBenefits": "It is a common substance found in minerals such as calcite, aragonite, pearls, and in the shells of marine organisms, snails, and eggs. It acts as an abrasive which helps to safely remove plaque when brushing and gently polishes away surface stains.",
      "foundIn_titles": ["Toothpaste"],
      "foundIn_handles": ["toothpaste"],
      "foundIn_tags": ["toothpaste"]
    },
    {
      "ingredient": "OATMEAL",
      "onLabel": "Avena Sativa",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": [
        "Eucalyptus Greek Yogurt Soap",
        "Pine Tar Soap",
        "Deep Sea Goat's Milk Soap"
      ],
      "foundIn_handles": [
        "eucalyptus-greek-yogurt",
        "pine-tar",
        "deep-sea-goats-milk"
      ],
      "foundIn_tags": ["bar-soap"],
      "function": "Exfoliant",
      "additionalBenefits": "The saponins found in oats work as a natural exfoliant, removing dirt and oil from the pores."
    },
    {
      "ingredient": "PEPPERMINT LEAVES",
      "onLabel": "Mentha",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Spearmint Basil Soap", "Cedar Citrus Soap"],
      "foundIn_handles": ["spearmint-basil", "cedar-citrus"],
      "foundIn_tags": ["bar-soap"],
      "function": "Exfoliant",
      "additionalBenefits": "The nutrients in peppermint may help tone the skin, minimize pores, and restore the overall elasticity of the skin."
    },
    {
      "ingredient": "SAND",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/vitaminsminerals_white.svg?v=1594323689",
      "ingredientSource": "Vitamins & Minerals",
      "icon1_text": "r1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Pine Tar Soap", "Wood Barrel Bourbon"],
      "foundIn_handles": ["pine-tar", "wood-barrel-bourbon"],
      "foundIn_tags": ["bar-soap"],
      "function": "Exfoliant",
      "additionalBenefits": "Sand acts as a natural exfoliant to peel off dead skin cells which leaves your skin glowing and smooth to the touch."
    },
    {
      "ingredient": "Green Tea Leaf Extract",
      "onLabel": "Camellia Sinensis Leaf",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant Based",
      "icon1_text": null,
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "function": "Wellness",
      "additionalBenefits": "The caffeine present in this extract promotes alertness, sustainable energy, and boosts brain function.  The catechins found in green tea are strong antioxidants that benefit oral health.",
      "foundIn_titles": ["Morning Toothpaste"],
      "foundIn_handles": ["toothpaste"],
      "foundIn_tags": ["toothpaste"]
    },
    {
      "ingredient": "SEA SALT",
      "onLabel": "Sodium Chloride",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/vitaminsminerals_white.svg?v=1594323689",
      "ingredientSource": "Vitamins & Minerals",
      "icon1_text": "p1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Bar Soap"],
      "foundIn_handles": ["barsoaps"],
      "foundIn_tags": ["bar-soap"],
      "function": "Exfoliant",
      "additionalBenefits": "Sea salt absorbs dirt, grime, and toxins to help cleanse the skin's pores deeply. It helps to harden our soap bars during the curing process."
    },
    {
      "ingredient": "CITRIC ACID",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": "http://blog.drsquatch.com/chemicals-in-shampoo-to-avoid/",
      "foundIn_titles": ["Hair Care", "Crisp Citrus Hand Soap"],
      "foundIn_handles": ["haircare", "crisp-citrus-liquid-soap"],
      "foundIn_tags": ["haircare", "liquid-soap"],
      "function": "Preservative",
      "additionalBenefits": "Citric acid keeps our products stable at a lower pH level to improve our shampoo and conditioner's interaction with the hair's slightly negative charge, helping the outer layer of the hair maintain a smooth and flat appearance. It helps to preserve our Hand Soap formula so that it has a long enough shelf life."
    },
    {
      "ingredient": "HEMP SEED OIL",
      "onLabel": "Cannabis Sativa",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "s1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": "http://blog.drsquatch.com/benefits-of-hemp-oil-on-skincare/",
      "foundIn_titles": ["Conditioner"],
      "foundIn_handles": ["conditioner"],
      "foundIn_tags": ["haircare"],
      "function": "Hair Conditioning Agent",
      "additionalBenefits": "This oil has a 3:1 ratio of omega-6 to omega-3 essential fatty acids, making it the perfect tool for hydrating hair. The iron, zinc, and vitamin E found in hemp seeds make it a great hair strengthener."
    },
    {
      "ingredient": "HONEY",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/bee-icon.svg?v=1596232495",
      "ingredientSource": "Animal By-Product",
      "icon1_text": "pl1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Shampoo"],
      "foundIn_handles": ["shampoo-1"],
      "foundIn_tags": ["haircare"],
      "function": "Hair Conditioning Agent",
      "additionalBenefits": "Its humectant properties make it great at hydrating your hair and scalp. Honey is made up of keratin, an essential protein that adds structure and strength to your hair strands, helping to fight against breakage."
    },
    {
      "ingredient": "HORSETAIL EXTRACT",
      "onLabel": "Equisetum Arvense",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Hair Care"],
      "foundIn_handles": ["haircare"],
      "foundIn_tags": ["haircare"],
      "function": "Hair Conditioning Agent",
      "additionalBenefits": "This herb promotes hair strength due to the presence of certain antioxidants."
    },
    {
      "ingredient": "HYDROLYZED OAT PROTEIN",
      "onLabel": "Hydrolyzed Oat Protein",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Hair Care"],
      "foundIn_handles": ["haircare"],
      "foundIn_tags": ["haircare"],
      "function": "Hair Conditioning Agent",
      "additionalBenefits": "A naturally derived, soluble form of whole oat protein that imparts a soft, velvety smooth feeling on the skin and hair. It is a great humectant, helping to retain hydration on the scalp."
    },
    {
      "ingredient": "TOCOPHEROL (VITAMIN E)",
      "onLabel": "Tocopheryl Acetate",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/vitaminsminerals_white.svg?v=1594323689",
      "ingredientSource": "Vitamins & Minerals",
      "icon1_text": "p1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Shampoo"],
      "foundIn_handles": ["shampoo-1"],
      "foundIn_tags": ["haircare"],
      "function": "Antioxidant",
      "additionalBenefits": "This vitamin's antioxidant properties may help reduce the amount of oxidative stress and free radicals that cause the hair follicles to break down."
    },
    {
      "ingredient": "CHARCOAL POWDER",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/vitaminsminerals_white.svg?v=1594323689",
      "ingredientSource": "Vitamins & Minerals",
      "icon1_text": "r1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Pine Tar Soap", "Deodorants"],
      "foundIn_handles": ["pine-tar", "deodorants"],
      "foundIn_tags": ["bar-soap", "deodorant"],
      "function": "Detoxifier, Detoxifier",
      "additionalBenefits": "This ingredient is usually sourced from the husk of plants, helping to cleanse away microparticles such as dirt, dust, and toxins. It also acts as a natural deodorizer in our deodorant formula."
    },
    {
      "ingredient": "ANNATTO POWDER",
      "onLabel": "Bixa Orellana",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "s1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Grapefruit IPA Soap", "Wood Barrel Bourbon"],
      "foundIn_handles": ["grapefruit-ipa", "wood-barrel-bourbon"],
      "foundIn_tags": ["bar-soap"],
      "function": "Natural Colorant",
      "additionalBenefits": "Annatto seeds get their color from the carotenoids present, which act as an antioxidant along with orange-red hue to our bar."
    },
    {
      "ingredient": "BEER",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "a1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Grapefruit IPA Soap"],
      "foundIn_handles": ["grapefruit-ipa"],
      "foundIn_tags": ["bar-soap"],
      "function": "Skin Softener",
      "additionalBenefits": "The yeast cultures in that beer you enjoy sipping on helps to dissolve dead skin cells when used topically, leaving the skin feeling cleansed and smooth."
    },
    {
      "ingredient": "GOAT'S MILK",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/goat-icon.svg?v=1596232495",
      "ingredientSource": "Animal By-Product",
      "icon1_text": "m1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": "http://blog.drsquatch.com/goat-milk-natural-soap/",
      "foundIn_titles": ["Deep Sea Goat's Milk Soap"],
      "foundIn_handles": ["deep-sea-goats-milk"],
      "foundIn_tags": ["bar-soap"],
      "function": "Skin Softener",
      "additionalBenefits": "Goat's milk contains alpha-hydroxy acids like lactic acid which help remove dead skin cells from the surface layers of the skin. It helps make the skin's barrier strong by retaining its elastin, a protein that keeps our skin firm and tight."
    },
    {
      "ingredient": "GREEK YOGURT",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/cow-icon.svg?v=1596232495",
      "ingredientSource": "Animal By-Product",
      "icon1_text": "m1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Eucalyptus Greek Yogurt Soap"],
      "foundIn_handles": ["eucalyptus-greek-yogurt"],
      "foundIn_tags": ["bar-soap"],
      "function": "Skin Softener",
      "additionalBenefits": "Greek yogurt is rich in lactic and hydroxy acid; compounds that help to dissolve dead skin cells.  It gently exfoliates the top epidermis layer helping to smooth the skin's surface; reducing the appearance of fine lines, brightening and evening skin tone."
    },
    {
      "ingredient": "IRON OXIDE",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/vitaminsminerals_white.svg?v=1594323689",
      "ingredientSource": "Vitamins & Minerals",
      "icon1_text": "p1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Gold Moss Soap", "Wood Barrel Bourbon"],
      "foundIn_handles": ["gold-moss", "wood-barrel-bourbon"],
      "foundIn_tags": ["bar-soap"],
      "function": "Natural Colorant",
      "additionalBenefits": "This natural mineral is used as a colorant of cosmetic products; it is hypoallergenic making it ideal for sensitive skin types. Iron oxide adds a range of brown hues to some of our soap  bars."
    },
    {
      "ingredient": "KAOLIN CLAY",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/vitaminsminerals_white.svg?v=1594323689",
      "ingredientSource": "Vitamins & Minerals",
      "icon1_text": "r1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Bar Soaps"],
      "foundIn_handles": ["barsoaps"],
      "foundIn_tags": ["bar-soap"],
      "function": "Cleanser + Skin Softener",
      "additionalBenefits": "Kaolin clay acts as a gentle cleanser that absorbs excess oils produced from the skin's sebaceous glands, leaving behind smoother skin. It is also used to improve the texture of our soap bars."
    },
    {
      "ingredient": "Indigo Powder",
      "onLabel": "Indigofera Tinctoria",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": null,
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "function": "Colorant",
      "additionalBenefits": "This plant has vibrant blue flowers that act as a natural colorant in our soap.",
      "foundIn_titles": ["Fresh Falls Bar Soap"],
      "foundIn_handles": ["barsoaps"],
      "foundIn_tags": ["bar-soap"]
    },
    {
      "ingredient": "SPIRULINA POWDER",
      "onLabel": "Arthrospira Platens",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Spearmint Basil Soap"],
      "foundIn_handles": ["spearmint-basil"],
      "foundIn_tags": ["bar-soap"],
      "function": "Colorant + Wellness ingredient",
      "additionalBenefits": "Spirulina is an algae that has large concentrations of vitamins and trace minerals that can be great for overall skin health. It helps to give our soap bar a light green color."
    },
    {
      "ingredient": "CALCIUM GLUCONATE",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/vitaminsminerals_white.svg?v=1594323689",
      "ingredientSource": "Vitamins & Minerals",
      "icon1_text": "p1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Shampoo"],
      "foundIn_handles": ["shampoo-1"],
      "foundIn_tags": ["haircare"],
      "function": "Preservative",
      "additionalBenefits": "Calcium gluconate is naturally derived from minerals and used to help preserve our shampoo's formula."
    },
    {
      "ingredient": "GLUCONOLACTONE",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "pl1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Hair Care"],
      "foundIn_handles": ["haircare"],
      "foundIn_tags": ["haircare"],
      "function": "Preservative",
      "additionalBenefits": "Gluconolactone works as a nature identival preservative in our shampoo, being rated a 1 on the EWG skin deep toxicity guide."
    },
    {
      "ingredient": "POTASSIUM SORBATE",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/handmade_white.svg?v=1594323723",
      "ingredientSource": "Man Made",
      "icon1_text": "p1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Hair Care"],
      "foundIn_handles": ["haircare"],
      "foundIn_tags": ["haircare"],
      "function": "Preservative",
      "additionalBenefits": "Potassium sorbate is the salt of sorbic acid, which can be found naturally in various berries; the final nature identical ingredient acts as a mild preservative in our formula."
    },
    {
      "ingredient": "SODIUM BENZOATE",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/handmade_white.svg?v=1594323723",
      "ingredientSource": "Man Made",
      "icon1_text": "p1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Hair Care"],
      "foundIn_handles": ["haircare"],
      "foundIn_tags": ["haircare"],
      "function": "Preservative",
      "additionalBenefits": "Sodium benzoate is a widely used food preservative from the sodium of benzoic acid, and exists in this form when dissolved in water."
    },
    {
      "ingredient": "Sodium Cocoyl Glutamate",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant Based",
      "icon1_text": null,
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": "http://blog.drsquatch.com/why-use-natural-toothpaste/",
      "function": "Abrasive",
      "additionalBenefits": "It is a natural vegetable based surfactant, usually derived from coconut, palm kernel oil, or the sugars found in corn, which is commonly used for its gentle cleansing capabilities. It helps to build the viscosity, or thickness, in our hair care products.",
      "foundIn_titles": ["Toothpaste"],
      "foundIn_handles": ["toothpaste"],
      "foundIn_tags": ["toothpaste"]
    },
    {
      "ingredient": "Hydrated Silica",
      "onLabel": "Dioxosilane Hydrate",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/vitaminsminerals_white.svg?v=1594323689",
      "ingredientSource": "Vitamins & Minerals",
      "icon1_text": null,
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "function": "Abrasive",
      "additionalBenefits": "This common abrasive is a component of sand used to remove debris and stains. It may prevent tooth demineralization by changing the mouth's acidic balance. It is naturally derived from silicon dioxide, a compound such as opal, found abundantly on the Earth's outer surface.",
      "foundIn_titles": ["Toothpaste"],
      "foundIn_handles": ["toothpaste"],
      "foundIn_tags": ["toothpaste"]
    },
    {
      "ingredient": "APPLE EXTRACT",
      "onLabel": "Pyrus Malus",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "w1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "foundIn_titles": ["Hand Sanitizer"],
      "foundIn_handles": ["natural-hand-sanitizer"],
      "foundIn_tags": ["sanitizer"],
      "function": "Antioxidant + Hydrator",
      "additionalBenefits": "Apple extract has powerful antioxidant abilities that can help give the skin a smooth and supple appearance when applied topically. It also acts as a powerful humectant, helping to lock in moisture and keep your skin from getting dried out."
    },
    {
      "ingredient": "ETHYL ALCOHOL",
      "onLabel": "Ethanol",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "w1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": "http://blog.drsquatch.com/hand-sanitizer-effectiveness/",
      "foundIn_titles": ["Hand Sanitizer"],
      "foundIn_handles": ["natural-hand-sanitizer"],
      "foundIn_tags": ["sanitizer"],
      "function": "Active Ingredient",
      "additionalBenefits": "Our ethanol is produced by naturally fermenting a variety of plant-derived sugars.  When used at concentrations of 60%–80%, it's considered an active ingredient, and it's presence in liquid hand sanitizer may kill or help to reduce harmful bacteria on the surface of the skin."
    },
    {
      "ingredient": "Tocopheryl Acetate",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/handmade_white.svg?v=1594323723",
      "ingredientSource": "Man Made",
      "icon1_text": null,
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "function": "Wellness",
      "additionalBenefits": "This Vitamin E nature identical compound has antioxidant properties that act as a wellness ingredient specifically beneficial for men’s health.",
      "foundIn_titles": ["Night Toothpaste"],
      "foundIn_handles": ["toothpaste"],
      "foundIn_tags": ["toothpaste"]
    },
    {
      "ingredient": "Beeswax",
      "onLabel": "Cera Alba",
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/bee-icon.svg?v=1596232495",
      "ingredientSource": "Animal By-Product",
      "icon1_text": null,
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "function": "Structurant",
      "additionalBenefits": "Beeswax gives our deodorant formula the structure to stay together.",
      "foundIn_titles": ["Deodorants"],
      "foundIn_handles": ["deodorants"],
      "foundIn_tags": ["deodorant"]
    },
    {
      "ingredient": "Jojoba Esters",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": null,
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "function": "Moisturizer",
      "additionalBenefits": "A wax derived from the jojoba plant that adds an extra moisturizing component to our deodorant formula.",
      "foundIn_titles": ["Deodorants"],
      "foundIn_handles": ["deodorants"],
      "foundIn_tags": ["deodorant"]
    },
    {
      "ingredient": "Magnesium Hydroxide",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/vitaminsminerals_white.svg?v=1594323689",
      "ingredientSource": "Vitamins & Minerals",
      "icon1_text": null,
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "function": "Deodorizer",
      "additionalBenefits": "This mineral has deodorizing abilities and is used to combat odor in our deodorant formula.",
      "foundIn_titles": ["Deodorants"],
      "foundIn_handles": ["deodorants"],
      "foundIn_tags": ["deodorant"]
    },
    {
      "ingredient": "Maltodextrin",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": null,
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "function": "Prebiotic",
      "additionalBenefits": "Commonly derived from corn, rice or other plant sources. Maltodextrin is the prebiotic that gives the probiotics what they need to function properly. It is a part of the probiotic package found in our deodorants.",
      "foundIn_titles": ["Deodorant"],
      "foundIn_handles": ["deodorants"],
      "foundIn_tags": ["deodorant"]
    },
    {
      "ingredient": "Triethyl Citrate",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": null,
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": null,
      "function": "Deodorizer",
      "additionalBenefits": "This plant derived ingredient is usually sourced from sugarcane.  It helps to reduce the build-up of unpleasant body odor by inhibiting the breakdown of sweat by bacteria.",
      "foundIn_titles": ["Deodorants"],
      "foundIn_handles": ["deodorants"],
      "foundIn_tags": ["deodorant"]
    },
    {
      "ingredient": "COFFEE GROUNDS",
      "onLabel": null,
      "icon1_img": "https://cdn.shopify.com/s/files/1/0275/7784/3817/files/plantbased_white.svg?v=1594323689",
      "ingredientSource": "Plant",
      "icon1_text": "l1",
      "icon2_img": null,
      "icon2_text": null,
      "icon3_img": null,
      "read_more_link": "http://blog.drsquatch.com/surprising-uses-of-coffee-benefits-of-coffee-on-skin-coffee-soap/",
      "foundIn_titles": ["Cold Brew Cleanse Soap"],
      "foundIn_handles": ["cold-brew-cleanse"],
      "foundIn_tags": ["bar-soap"],
      "function": "Exfoliant",
      "additionalBenefits": "The texture of coffee grounds help to scrub away dead skin cells."
    }
  ]
</script>
