{% layout 'theme' %}

<h1>Bundles Page</h1>
<render-my-component
:shopify-data="{
  shopName: '{{ shop.name }}',
  shopDomain: '{{ shop.domain }}',
  shopEmail: '{{ shop.email }}',
  shopCurrency: '{{ shop.currency }}'
}"
>
<div class="shopify-theme-lab__subline">
  Vue component with slots and props
</div>
</render-my-component>
