.icon-custom {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-allNaturalScent:before {
  content: "\e974";
}
.icon-aluminumFree:before {
  content: "\e975";
}
.icon-concentratedFormula:before {
  content: "\e976";
}
.icon-enamelHealth:before {
  content: "\e977";
}
.icon-fdaRegistered:before {
  content: "\e978";
}
.icon-featuring:before {
  content: "\e979";
}
.icon-manlyHealth:before {
  content: "\e97a";
}
.icon-squatchOdor:before {
  content: "\e97b";
}
.icon-sulfateParabenFree:before {
  content: "\e97c";
}
.icon-sustainablySourced:before {
  content: "\e97d";
}
.icon-usage2-3perweek:before {
  content: "\e97e";
}
.icon-usageDaily:before {
  content: "\e97f";
}
.icon-whitening:before {
  content: "\e980";
}
.icon-Arrow-left:before {
  content: "\e973";
}
.icon-addon:before {
  content: "\e92b";
}
.icon-deodorant:before {
  content: "\e96e";
}
.icon-haircare:before {
  content: "\e96f";
}
.icon_squatch-picks:before {
  content: "\e970";
}
.icon-soap:before {
  content: "\e971";
}
.icon-toothpaste:before {
  content: "\e972";
}
.icon-magnifying-glass:before {
  content: "\e96d";
}
.icon-Arrow-right:before {
  content: "\e96b";
}
.icon-FreeShipping:before {
  content: "\e96c";
}
.icon-AvodacoOil .path1:before {
  content: "\e92f";
}
.icon-ColdProcessSoap:before {
  content: "\e932";
}
.icon-CoolLit:before {
  content: "\e933";
}
.icon-FirstBurn:before {
  content: "\e934";
}
.icon_alpine-sage:before {
  content: "\e935";
}
.icon_area-51:before {
  content: "\e936";
}
.icon_bay-rum:before {
  content: "\e937";
}
.icon_birchwood-breeze:before {
  content: "\e938";
}
.icon_cedar-citrus:before {
  content: "\e939";
}
.icon_citrus-mint:before {
  content: "\e93a";
}
.icon_coffee-soap:before {
  content: "\e93b";
}
.icon_cool-fresh-aloe:before {
  content: "\e93c";
}
.icon_cypress-coast:before {
  content: "\e93d";
}
.icon_deep-sea-goats-milk:before {
  content: "\e93e";
}
.icon_eucalyptus-yogurt:before {
  content: "\e93f";
}
.icon_fresh-falls:before {
  content: "\e941";
}
.icon_gold-moss:before {
  content: "\e942";
}
.icon_grapefruit-ipa:before {
  content: "\e943";
}
.icon_irish-cream-whiskey:before {
  content: "\e944";
}
.icon_pine-tar:before {
  content: "\e945";
}
.icon_spearmint-basil:before {
  content: "\e946";
}
.icon-Menthol:before {
  content: "\e947";
}
.icon-MoistureProtection:before {
  content: "\e948";
}
.icon-NaturalOils:before {
  content: "\e949";
}
.icon-NoHarshChemicals:before {
  content: "\e94a";
}
.icon-OdorProtection:before {
  content: "\e94b";
}
.icon-Oils:before {
  content: "\e94c";
}
.icon-PineTar:before {
  content: "\e94d";
}
.icon-ProbioticBalance:before {
  content: "\e94e";
}
.icon-Shield:before {
  content: "\e94f";
}
.icon-smellsLike-alpine-sage:before {
  content: "\e950";
}
.icon-smellsLike-area-51:before {
  content: "\e951";
}
.icon-smellsLike-bay-rum:before {
  content: "\e952";
}
.icon-smellsLike-birchwood-breeze:before {
  content: "\e953";
}
.icon-smellsLike-cedar-citrus:before {
  content: "\e954";
}
.icon-smellsLike-citrus-mint:before {
  content: "\e955";
}
.icon-smellsLike-cold-brew-cleanse:before {
  content: "\e956";
}
.icon-smellsLike-cool-fresh-aloe:before {
  content: "\e957";
}
.icon-smellsLike-cypress-coast:before {
  content: "\e958";
}
.icon-smellsLike-deep-sea-goats-milk:before {
  content: "\e959";
}
.icon-smellsLike-eucalyptus-greek-yogurt:before {
  content: "\e95a";
}
.icon-smellsLike-fresh-falls:before {
  content: "\e95b";
}
.icon-smellsLike-gold-moss:before {
  content: "\e95c";
}
.icon-smellsLike-grapefruit-ipa:before {
  content: "\e95d";
}
.icon-smellsLike-irish-cream-whiskey:before {
  content: "\e95e";
}
.icon-smellsLike-pine-tar:before {
  content: "\e95f";
}
.icon-smellsLike-spearmint-basil:before {
  content: "\e960";
}
.icon-smellsLike-wood-barrel-bourbon:before {
  content: "\e961";
}
.icon-soap-usage-step1:before {
  content: "\e962";
}
.icon-soap-usage-step2:before {
  content: "\e963";
}
.icon-soap-usage-step3:before {
  content: "\e964";
}
.icon-squatch-foot:before {
  content: "\e965";
}
.icon-Strong:before {
  content: "\e966";
}
.icon-SustainablySourced:before {
  content: "\e967";
}
.icon-Time:before {
  content: "\e968";
}
.icon-WickCare:before {
  content: "\e969";
}
.icon_wood-barrel-bourbon:before {
  content: "\e96a";
}
.icon_bar-bwb_scent:before {
  content: "\e92e";
}
.icon_bar-wbb_exfol:before {
  content: "\e92c";
}
.icon_bar-wbb_featuring:before {
  content: "\e92d";
}
.icon_bar-frf_scent:before {
  content: "\e92a";
}
.icon_deo_featuring:before {
  content: "\e927";
}
.icon_deo_usage:before {
  content: "\e928";
}
.icon_deo-as_scent:before {
  content: "\e929";
}
.icon_no-harsh-chemicals:before {
  content: "\e940";
}
.icon_tooth-bun_usage:before {
  content: "\e900";
}
.icon_handsan-2pk_featuring:before {
  content: "\e901";
}
.icon_bar-dp_scent:before {
  content: "\e902";
}
.icon-soap-gripper-hand:before {
  content: "\e903";
}
.icon_conditioner_scent:before {
  content: "\e904";
}
.icon_shampoo_featuring:before {
  content: "\e905";
}
.icon_shampoo_usage:before {
  content: "\e906";
}
.icon_shampoo_scent:before {
  content: "\e907";
}
.icon_conditioner_featuring:before {
  content: "\e908";
}
.icon_conditioner_usage:before {
  content: "\e909";
}
.icon_verifypass-user:before {
  content: "\e90a";
}
.icon_verifiypass-checkout:before {
  content: "\e90b";
}
.icon_frown:before {
  content: "\e90c";
}
.icon_smile:before {
  content: "\e90d";
}
.icon_checkmark-circle:before {
  content: "\e90e";
}
.icon_shopping-bag:before {
  content: "\e90f";
}
.icon_verified-user:before {
  content: "\e910";
}
.icon_verified-tag:before {
  content: "\e911";
}
.icon_radio_add-to-cart:before {
  content: "\e912";
}
.icon_radio_unselected:before {
  content: "\e913";
}
.icon_radio-selected:before {
  content: "\e914";
}
.icon_gift-card:before {
  content: "\e915";
}
.icon_discount-savings:before {
  content: "\e916";
}
.icon_star-filled:before {
  content: "\e917";
}
.icon_star-outline:before {
  content: "\e918";
}
.icon_clock-renew:before {
  content: "\e919";
}
.icon_muscle-arm:before {
  content: "\e91a";
}
.icon_question-mark:before {
  content: "\e91b";
}
.icon_verifypass-discount:before {
  content: "\e91c";
}
.icon_discount-tag:before {
  content: "\e91d";
}
.icon_chevron-left:before {
  content: "\e91e";
}
.icon_arrow-curved-down:before {
  content: "\e91f";
}
.icon_checkmark:before {
  content: "\e920";
}
.icon_video-play:before {
  content: "\e921";
}
.icon_close:before {
  content: "\e922";
}
.icon_arrow_bottom:before {
  content: "\e923";
}
.icon_arrow-top:before {
  content: "\e924";
}
.icon_arrow-left:before {
  content: "\e925";
}
.icon_arrow-right:before {
  content: "\e926";
}
.icon_chevron-bottom:before {
  content: "\e9a0";
}
.icon_chevron-top:before {
  content: "\e9a1";
}
.icon_chevron-right:before {
  content: "\e9a2";
}
.icon_dropown-arrow:before {
  content: "\e9a3";
}
.icon_pine-cone:before {
  content: "\e9a4";
}
.icon_sequoia-certified:before {
  content: "\e9a5";
}
.icon_sapling-status:before {
  content: "\e9a6";
}
.icon-exit:before {
  content: "\e9a7";
}
.icon_nav_help:before {
  content: "\e9a8";
}
.icon-credit-card:before {
  content: "\e9aa";
}
.icon_nav_login:before {
  content: "\e9ab";
}
.icon_nav_alert:before {
  content: "\e9ac";
}
.icon_nav_subscriptions:before {
  content: "\e9ad";
}
.icon-auto-renew:before {
  content: "\e9ae";
}
.icon-box:before {
  content: "\e9af";
}
.icon-soap-gripper:before {
  content: "\e9b0";
}
.icon-soap-gripper-saver:before {
  content: "\e9b1";
}
.icon_sav-1_bar-bubbles:before {
  content: "\e9b2";
}
.icon_bar-cc_featuring:before {
  content: "\e9b3";
}
.icon_sav-1_ruler:before {
  content: "\e9b4";
}
.icon_gift-box:before {
  content: "\e9b5";
}
.icon_gift-box_man:before {
  content: "\e9b6";
}
.icon_gift-box_hand:before {
  content: "\e9b7";
}
.icon_bar-cfa_scent:before {
  content: "\e9b8";
}
.icon_handsan-2pk_usage:before {
  content: "\e9ba";
}
.icon_col-cp_featuring:before {
  content: "\e9bb";
}
.icon_col-sb_scent:before {
  content: "\e9bc";
}
.icon_beard-oil-cp_usage:before {
  content: "\e9be";
}
.icon_beard-oil-sb_usage:before {
  content: "\e9bf";
}
.icon_col-cp_scent:before {
  content: "\e9c0";
}
.icon_tooth-bun_invigorates:before {
  content: "\e9c1";
}
.icon_tooth-bun_freshens:before {
  content: "\e9c2";
}
.icon_tooth-bun_morning:before {
  content: "\e9c3";
}
.icon_tooth-bun_restores:before {
  content: "\e9c4";
}
.icon_tooth-bun_whitens:before {
  content: "\e9c5";
}
.icon_tooth-bun_featuring:before {
  content: "\e9c7";
}
.icon_bar-whsy-scent:before {
  content: "\e9c8";
}
.icon_bar-a51_featuring:before {
  content: "\e9c9";
}
.icon_bar-bcww_scent:before {
  content: "\e9ca";
}
.icon_bar-cm_scent:before {
  content: "\e9cb";
}
.icon_bar-cm_featuring:before {
  content: "\e9cd";
}
.icon_bar-bcww_featuring:before {
  content: "\e9cf";
}
.icon_bar-cm_exfoliation:before {
  content: "\e9d0";
}
.icon_bar-mb_exfoliation:before {
  content: "\e9d1";
}
.icon_bar-a51_exfoliation:before {
  content: "\e9d2";
}
.icon_bar-a51_scent:before {
  content: "\e9d3";
}
.icon_bar-fp_featuring:before {
  content: "\e9d4";
}
.icon_bar-ff_featuring:before {
  content: "\e9d5";
}
.icon_bar-dp_featuring:before {
  content: "\e9d6";
}
.icon_bar-whsy-featuring:before {
  content: "\e9d7";
}
.icon_bar-ff_scent:before {
  content: "\e9d8";
}
.icon_exfoliation_none:before {
  content: "\e9d9";
}
.icon_bar-cbc_exfoliation:before {
  content: "\e9f4";
}
.icon_bar-cbc_scent:before {
  content: "\e9f5";
}
.icon_bar-egy_featuring:before {
  content: "\e9f6";
}
.icon_bar-pt_exfoliation:before {
  content: "\e9f7";
}
.icon_bar-pt_featuring:before {
  content: "\e9f8";
}
.icon_bar-gm_scent:before {
  content: "\e9f9";
}
.icon_bar-gm_featuring:before {
  content: "\e9fa";
}
.icon_bar-sbs_featuring:before {
  content: "\e9fb";
}
.icon_bar-as_scent:before {
  content: "\e9fc";
}
.icon_bar-cc_exfoliation:before {
  content: "\e9fd";
}
.icon_bar-cc_scent:before {
  content: "\e9fe";
}
.icon_bar-as_featuring:before {
  content: "\e9ff";
}
.icon_bar-br_scent:before {
  content: "\ea00";
}
.icon_bar-egy_scent:before {
  content: "\ea01";
}
.icon_bar-gi_featuring:before {
  content: "\ea02";
}
.icon_bar-gi_scent:before {
  content: "\ea03";
}
.icon_bar-sbs_scent:before {
  content: "\ea04";
}
.icon_bar-br_featuring:before {
  content: "\ea05";
}
.icon_bar-cfa_featuring:before {
  content: "\ea06";
}
.icon_bar-dsgm_featuring:before {
  content: "\ea08";
}
.icon_bar-dsgm_exfoliation:before {
  content: "\ea09";
}
.icon_bar-egy_exfoliation:before {
  content: "\ea0a";
}
.icon_bar-dsgm_scent:before {
  content: "\ea0c";
}
.icon_bar-pt_scent:before {
  content: "\ea0d";
}
.icon-uniE9DB:before {
  content: "\e9db";
}
.icon-beard-oil:before {
  content: "\e981";
}
.icon-best-sellers:before {
  content: "\e982";
}
.icon-Bundles:before {
  content: "\e983";
}
.icon-candle:before {
  content: "\e984";
}
.icon-cologne:before {
  content: "\e985";
}
.icon-gift-card:before {
  content: "\e986";
}
.icon-hand-sanitizer:before {
  content: "\e987";
}
.icon-hand-soap:before {
  content: "\e988";
}
.icon-squatch-gear:before {
  content: "\e989";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin:before {
  content: "\eac9";
}