<div class="container">
  <div>
    {% for link in linklists.footer.links %}
      <a href="{{ link.url }}">{{ link.title }}</a>
    {% endfor %}
  </div>

  <div>
    &copy; Shopify Theme Lab
  </div>
</div>

{% schema %}
{
  "name": "footer",
  "settings": [],
  "presets": [
    {
      "name": "name",
      "category": "category"
    }
  ]
}
{% endschema %}