<div class="container">
  <div>
    {% for link in linklists.footer.links %}
      <a href="{{ link.url }}">{{ link.title }}</a>
    {% endfor %}
  </div>

  <div>
    &copy; Shopify Theme Lab
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "paragraph",
      "content": "Add custom settings for this section. [Learn more](https://shopify.dev/docs/themes/settings)"
    }
  ]
}
{% endschema %}