<div class="login-page-container">
  {% form 'reset_customer_password' %}
    <div id="password-reset-form">
      <h2 class="login-page-title">Reset Password</h2>

      <p class="login-text">
        Enter a new password for {{ email }}
      </p>

      {% render "_form.errors" %}

      <div class="form-field-wrapper">
        <input 
          type="password"
          name="customer[password]"
          placeholder="New Password"
          autocorrect="off"
          autocapitalize="off"
          required
          class="form-field"
        />
      </div>
      <div class="form-field-wrapper">
        <input 
          type="password"
          name="customer[password_confirmation]"
          placeholder="Confirm Password"
          autocorrect="off"
          autocapitalize="off"
          required
          class="form-field"
        />
      </div>
      <div class="form-submit-wrapper">
        <input
          type="submit"
          value="Submit"
          class="submit-button"
        />
      </div>
    </div>
  {% endform %}
</div>
