$black: #352e2e;
$brown: #5a3714;
$dark-brown: #1a110c;
$dark-green: #203620;
$gray: #faf6f1;
$light-orange: #db8d4d;
$maroon: #911a1d;
$maroon-darken: #661214;
$off-white: #f0eeeb;
$orange: #cc6328;
$orange-darken: #A14E20;
$orange-lighten: #e0a17e;
$sand: #e5d0bb;
$tan: #E5D0BB;
$white: #fff;
$white-darken: #d9d9d9;

$brown-bg: #2a1717;
