$maroon: #911A1D;
$orange: #CC6328;
$darker-brown: #1A110C;
$dark-brown: #473729;
$brown: #5A3714;
$sand: #E5D0BB;
$white: #fff;
$off-white: #F0EEEB;
$main-font: "worker-3d", aerial;
$sub-font: "adrianna", aerial;
$md-breakpoint: 768px;
$lg-breakpoint: 993px;
$xl-breakpoint: 1200px;