# docs: https://www.npmjs.com/package/browserslist
# run '$ npx browserslist' in .config/ directory to see what browsers are selected by your queries for [production].

[development]
last 2 chrome version
last 2 firefox version

[production]
last 4 versions
not IE <= 11