# docs: https://www.npmjs.com/package/browserslist
# run '$ npx browserslist' in .config/ directory to see wich browsers are selected by your queries for [production].

[development]
last 2 chrome versions
last 2 firefox versions

[production]
last 4 versions
not IE <= 11