@mixin font-style-heading($size: false, $colour: false, $weight: false,  $lh: false) {
  font-family: 'worker-3d', Arial, sans-serif;
  @if $size { font-size: $size; }
  @if $colour { color: $colour; }
  @if $weight { font-weight: $weight; }
  @if $lh { line-height: $lh; }
}